BOT_TOKEN=PASTE_TELEGRAM_BOT_TOKEN_HERE
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=CHANGE_ME_TO_A_DATABASE_PASSWORD
DATABASE_NAME=scheduler
ADMIN_PORT=8080
ADMIN_PUBLIC_URL=https://admin.example.com
ADMIN_ACCESS_TOKEN=CHANGE_ME_TO_A_LONG_RANDOM_VALUE
