BOT_TOKEN=PASTE_TELEGRAM_BOT_TOKEN_HERE
BOT_USERNAME=schedule_free_bot
BOT_HEALTH_PORT=18082
BOT_MAX_CONCURRENT_HANDLERS=32
BOT_MAX_PENDING_PER_SENDER=8
BOT_STATE_TTL_MINUTES=30
PROJECT_URL=https://github.com/J0es1ick/Scheduler
BOT_PUBLIC_URL=https://t.me/schedule_free_bot
DATABASE_HOST=127.0.0.1
DATABASE_PORT=55432
DATABASE_USER=postgres
DATABASE_PASSWORD=CHANGE_ME_TO_A_DATABASE_PASSWORD
DATABASE_NAME=scheduler
DATABASE_SSLMODE=disable
DATABASE_MAX_OPEN_CONNECTIONS=15
DATABASE_MAX_IDLE_CONNECTIONS=5
DATABASE_CONNECT_TIMEOUT_SECONDS=10
DATABASE_STATEMENT_TIMEOUT_SECONDS=30
ADMIN_PORT=18080
SITE_PORT=18081
POSTGRES_HOST_PORT=55432
ADMIN_BIND_ADDRESS=127.0.0.1
ADMIN_HOST_PORT=18080
SITE_BIND_ADDRESS=127.0.0.1
SITE_HOST_PORT=18081
ADMIN_PUBLIC_URL=https://admin.example.com
ADMIN_ACCESS_TOKEN=CHANGE_ME_TO_A_LONG_RANDOM_VALUE
ADMIN_ACCESS_LOGIN_ENABLED=false
ADMIN_COOKIE_SECURE=true
ADMIN_TRUSTED_PROXY_CIDRS=127.0.0.1/32,::1/128
ADMIN_METRICS_TOKEN=CHANGE_ME_TO_A_SEPARATE_METRICS_TOKEN
BACKUP_INTERVAL_SECONDS=86400
BACKUP_MAX_AGE_SECONDS=90000
BACKUP_RETENTION_DAYS=14
